

<section id="register" class="form-container">
    <div class="form-card">
        <form [formGroup] = "registryForm">
            <h2>Registro de usuario</h2>
            <form>
                <div class="form-group">
                    <input type="text" id="username" placeholder="Ingrese un nombre de usuario" formControlName="username"/>
                </div>
                <div class="form-group">
                    <input type="text" id="name" placeholder="Ingrese su nombre completo"formControlName="name"/>
                </div>
                <div class="form-group">
                    <input type="text" id="email" placeholder="Ingrese email" formControlName="email"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" placeholder="Ingrese contraseña" formControlName="password"/>
                </div>
                <div class="form-group">
                    <input type="password" id="retype-password" placeholder="Ingrese contraseña" formControlName="repassword"/>
                </div>
                <a  (click)="onRegistry()" class="btn-primary"> Registrarse</a>
                <a routerLink="/login" class="btn-primary">Iniciar sesión</a>
            </form>
        </form>
    </div>
</section>


