<div class="flex h-screen w-full overflow-hidden"> <!-- pantalla completa -->
  <app-sidebar></app-sidebar>

  <!-- Contenedor principal flexible -->
<div class="flex-1 bg-[oklch(20.5%_0_0)] justify-center">
    <div class="w-[90%] ml-25 mt-20 rounded-3xl h-[40%] bg-[oklch(70.8%_0_0)] justify-center flex flex-row">
        <form [formGroup]="form" class="w-full items-center flex flex-col">
            <input type="text" placeholder=" Tittle" formControlName="tittle"
             class="w-9/10 text-center bg-[oklch(40%_0_0)] mt-5 text-white border rounded-3xl
                    focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <input type="text" placeholder=" Description" formControlName="description"
             class="w-9/10 text-center bg-[oklch(40%_0_0)] text-white border mt-5 py-2 rounded-3xl
                    focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <a (click)="onSubmit()" class="btn-primary w-9/10  text-center py-3 rounded-3xl mt-5 bg-[#c026d3] text-white">Upload Doc</a>
        </form>

    </div>
    

</div>
</div>
